/* Body */
body {
  background-color: #1F2937;
}

/* Button */
button {
  background-color: #3882F6;
  border-radius: 5px; /* Add circularity to all borders */
}

/* Top Bar */
.top-bar {
  display: flex;
  margin-bottom: 100px; /* Add space to margin-bottom */
}

/* Top Bar >> ul */
.top-bar ul {
  list-style-type: none;
  gap: 16px;
  padding: 0 400px; /* Add gaps horizontally */
  flex-grow: 1; /* Take all horizontal space */
  align-items: baseline; /* Align items vertically */
  display: flex;
}

/* Logo */
.logo {
  color: #F9FAF8;
  font-weight: 600;
  font-size: 24px;
  margin-right: auto; /* Push rightmost elements to right end */
}
  
/* a */
a {
  color: #E5E7EB;
  text-decoration: none;
  font-size: 18px;
}

/* Content-1 */
.content-1 {
  color: white;
  display: flex;
  flex-grow: 1; /* Take all horizontal space */
  padding: 0 400px; /* Add gaps horizontally */
  margin-bottom: 100px; /* Add space to margin-bottom */
  align-items: baseline; /* Align items vertically */
}

/* Content-1 >> Text >> Subheader */
.content-1 .text .subheader {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  max-width: 400px;
  margin-right: auto; /* Push rightmost elements to right end */
}

/* Content-1 >> Text >> Subtext */
.content-1 .text .subtext {
  max-width: 360px; /* Limit width of subtext */
  margin-bottom: 10px; /* Add space to margin-bottom */
}

/* Content-1 >> Text >> Button */
.content-1 .text button {
  color: #E5E7EB;
  width: 100px;
  height: 30px;
  border: none; /* Remove borders */
}

/* Content-1 >> Image */
.content-1 .image {
  background-color: slategray;
  padding: 70px 100px; /* Add padding around image */
  margin-left: auto; /* Push image to right end */
}

/* RESUME: Content-2 */
.content-2 {
  background-color: white;
  display: flex;
  padding: 100px 0;
  justify-content: center;
}

/* Content-2 >> Subheader */
.content-2 .subheader {
  font-weight: bold;
  font-size: 36px;
}

/* Content-2 >> Images */
.content-2 .images {
  display: flex;
  margin-top: 100px; /* Add space to margin-top */
  gap: 30px;
}

/* Content-2 >> Descs */
.content-2 .descs {
  margin-top: 300px; /* Add space to margin-top */
}

.content-3 {
  background-color: gray;
  padding: 100px;
  display: flex;
  justify-content: center;
}

.quote {
  font-style: italic;
  font-size: 24px;
  max-width: 500px;
}

.author {
  margin-top: 120px;
}

.content-4 {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 100px;
  max-height: 100px;
}

.content-4 .box {
  display: flex;
  max-width: 800px;
  background-color: #3882F6;
  padding: 50px 200px;
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
  padding: 25px;
}
