/* TODO:

1. Convert quote (gap, flex)
2. Fill edges

*/

/* Header-box, footer-box */
.header-box, .footer-box {
  background-color: #1F2937;
}

/* Content-1 >> Text >> Subtext, a */
.content-1 .text .subtext, a {
  font-size: 18px;
  color: #E5E7EB;
}

/* Header-box */
.header-box {
  padding-bottom: 50px; /* Add padding-bottom */
}

/* Button */
button {
  background-color: #3882F6;
  border-radius: 5px; /* Add circularity to all borders */
}

/* Header-box >> Top Bar */
.header-box .top-bar {
  display: flex;
  margin-bottom: 100px; /* Add space to margin-bottom */
}

/* Header-box >> Top Bar >> ul */
.header-box .top-bar ul {
  list-style-type: none;
  gap: 16px;
  padding: 0 400px; /* Add gaps horizontally */
  flex-grow: 1; /* Take all horizontal space */
  align-items: baseline; /* Align items vertically */
  display: flex;
}

/* Header-box >> Top-bar >> ul >> Logo */
.header-box .top-bar ul .logo {
  color: #F9FAF8;
  font-weight: bolder;
  font-size: 24px;
  margin-right: auto; /* Push rightmost elements to right end */
}
  
/* a */
a {
  text-decoration: none;
}

/* Content-1 */
.content-1 {
  color: white;
  display: flex;
  flex-grow: 1; /* Take all horizontal space */
  margin: 0 400px 100px; /* Add gaps horizontally and margin-bottom */
  align-items: baseline; /* Align items vertically */
}

/* Content-1 >> Text >> Subheader */
.content-1 .text .subheader {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  max-width: 400px;
  margin-right: auto; /* Push rightmost elements to right end */
}

/* Content-1 >> Text >> Subtext */
.content-1 .text .subtext {
  font-size: 18px;
  max-width: 360px; /* Limit width of subtext */
  margin-bottom: 10px; /* Add space to margin-bottom */
}

/* Content-1 >> Text >> Button */
.content-1 .text button {
  color: #E5E7EB;
  width: 100px;
  height: 30px;
  border: none; /* Remove borders */
  font-weight: bold;
}

/* Content-1 >> Image */
.content-1 .image {
  background-color: slategray;
  padding: 70px 100px; /* Add padding around image */
  margin-left: auto; /* Push image to right end */
}

/* Content-2 */
.content-2 {
  background-color: white;
  margin-bottom: 100px;
}

/* Content-2 >> Subheader */
.content-2 .subheader {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 36px;
  color: #1F2937;
  margin: 50px 0; /* Add margins (cross-axis) */
}

/* Content-2 >> Images */
.content-2 .images {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

/* Content-2 >> Image */
.content-2 .image {
  width: 130px;
  height: 130px;
  border-radius: 10px; /* Add circularity to all borders */
  border: 4px solid #3882F6;
}

/* Content-2 >> Descs */
.content-2 .descs {
  display: flex;
  justify-content: center;
  gap: 60px;
}

/* Content-2 >> Desc */
.content-2 .desc {
  max-width: 130px; /* Limit text width */
  text-align: center; /* Center-align text */
  color: gray;
}

/* Content-3 */
.content-3 {
  background-color: #E5E7EB;
  padding: 70px;
  display: flex;
  justify-content: center;
}

/* Block */
.content-3 .block {
  display: flex;
  flex-direction: column;
}

/* Content-3 >> Quote */
.content-3 .block .quote {
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
  max-width: 750px;
}

/* Content-3 >> Author */
.content-3 .block .author {
  font-weight: bold;
  margin-left: auto;
}

/* Content-4 */
.content-4 {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 100px;
}

/* Content-4 >> Call-box */
.content-4 .call-box {
  display: flex;
  background-color: #3882F6;
  padding: 50px 100px;
  color: white;
  border-radius: 10px; /* Add circularity to all borders */
  align-items: end; /* Align button element to bottom of box */
  gap: 100px; /* Add gap between elements */
}

/* Content-4 >> Call-box >> info */
.content-4 .call-box .info {
  display: flex;
  flex-direction: column;
}

/* Content-4 >> Call-box >> Subheader */
.content-4 .call-box .info .subheader {
  font-size: 24px;
  font-weight: bold;
}

/* Content-4 >> Call-box >> Button */
.content-4 .call-box button {
  color: #E5E7EB;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-color: #E5E7EB; /* Remove borders */
  border-style: solid; /* Set borders (removes button outline discoloration) */
  font-weight: bold;
}

.footer-box {
  display: flex;
  justify-content: center;
  color: white;
  padding: 25px;
  gap: 10px;
  font-size: 18px;
}
